<section class="intro">
  <div class="intro-text-box">
    <h2><span class="primary">하나은행 기업뱅킹</span>을 알아볼까요?</h2>
    <p>쉽고 편리한 기업뱅킹을 체험해 보세요!</p>
  </div>

  <div class="intro-button-box">
    <a href="#onboarding" class="intro-button new">
      <h3>하나은행 기업뱅킹이<br />처음인가요?</h3>
      <p>기업뱅킹 가입부터 이용까지<br />단계별로 차근차근 알아보세요.</p>
    </a>

    <a href="#menu" class="intro-button guide">
      <h3>업무별 체험이<br />필요하신가요?</h3>
      <p>새롭게 바뀐 주요 메뉴를<br />직접 눌러보며 확인해 보세요.</p>
    </a>
  </div>
</section>
