<div class="menu-container" data-menu-page>
  <div class="menu-tabs" data-menu-nav>
    <button class="is-active" data-menu-target="section1">조회/이체</button
    ><button data-menu-target="section2">B2B전자결제</button
    ><button data-menu-target="section3">외환/대출</button
    ><button data-menu-target="section4">뱅킹관리</button
    ><button data-menu-target="section5">결재함/거래함</button
    ><button data-menu-target="section6">인증센터</button>
  </div>
  <div class="menu-contents">
    <!-- 조회 / 이체 -->
    <section class="menu-section is-active" data-menu-section="section1">
      <div class="menu-item">
        <h2 data-menu-name="inq">조회</h2>
        <div class="menu-list">
          <ul>
            <li>
              <a href="#" data-workflow-id="inq0000">보유계좌 조회</a>
            </li>
            <li>
              <span>거래내역 조회</span>
              <ul>
                <li>
                  <a href="#" data-workflow-id="inq0100">거래내역 조회</a>
                </li>
                <li>
                  <a href="#" data-workflow-id="inq0200">거래내역 대량조회</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul>
            <li>
              <span>증명서 한번에 발급</span>
              <ul>
                <li>
                  <a href="#" data-workflow-id="inq0300">발급신청</a>
                </li>
                <li>
                  <a href="#" data-workflow-id="inq0400">신청결과 확인</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="menu-item">
        <h2 data-menu-name="trn">이체</h2>
        <div class="menu-list">
          <ul>
            <li>
              <a href="#" data-workflow-id="trn0000">즉시/예약이체</a>
            </li>
            <li>
              <a href="#" data-workflow-id="trn0100">다계좌이체</a>
            </li>
            <li>
              <a href="#" data-workflow-id="trn0200"
                >예약이체 신청내역 조회/취소</a
              >
            </li>
            <li>
              <a href="#" data-workflow-id="trn0300">이체결과 조회</a>
            </li>
            <li>
              <a href="#" data-workflow-id="trn0400">대량이체 등록</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="#" data-workflow-id="trn0500">급여이체 등록</a>
            </li>
            <li>
              <a href="#" data-workflow-id="trn0600">단건출금 대량이체 등록</a>
            </li>
            <li>
              <a href="#" data-workflow-id="trn0700">하나은행으로 외화이체</a>
            </li>
            <li>
              <a href="#" data-workflow-id="trn0800"
                >다른은행으로 외화이체(금결원)</a
              >
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- B2B 전자결제 -->
    <section class="menu-section" data-menu-section="section2">
      <div class="menu-item">
        <h2 data-menu-name="b2b1">판매기업</h2>
        <div class="menu-list">
          <ul>
            <li>
              <a href="#" data-workflow-id="b2b0000">전자세금계산서 관리</a>
            </li>
            <li>
              <span>외담대/e-안심팩토링</span>
              <ul>
                <li>
                  <a href="#" data-workflow-id="b2b0100">판매기업 신규 약정</a>
                </li>
                <li>
                  <a href="#" data-workflow-id="b2b0200"
                    >외상매출채권 조회/대출 실행</a
                  >
                </li>
              </ul>
            </li>

            <li>
              <span>동반성장론(일반)-상생결제</span>
              <ul>
                <li>
                  <a href="#" data-workflow-id="b2b0300"
                    >1차 협력기업 신규 약정</a
                  >
                </li>
              </ul>
            </li>

            <li>
              <span>동반성장론(협력)-상생결제</span>
              <ul>
                <li>
                  <a href="#" data-workflow-id="b2b0400"
                    >동반협력기업 신규 약정</a
                  >
                </li>
                <li>
                  <a href="#" data-workflow-id="b2b0500"
                    >상생매출채권 조회/대출 실행</a
                  >
                </li>
              </ul>
            </li>
          </ul>
          <ul>
            <li>
              <span>공급망(유통망) 상생결제(일반)</span>
              <ul>
                <li>
                  <a href="#" data-workflow-id="b2b0600"
                    >입점Seller 신규 약정</a
                  >
                </li>
              </ul>
            </li>

            <li>
              <span>e-구매론(일반/무보증구매론)</span>
              <ul>
                <li>
                  <a href="#" data-workflow-id="b2b0700">판매기업 신규 약정</a>
                </li>
              </ul>
            </li>

            <li>
              <span>e-구매론(상생벤더구매론)</span>
              <ul>
                <li>
                  <a href="#" data-workflow-id="b2b0800"
                    >2차 협력기업 신규 약정</a
                  >
                </li>
                <li>
                  <a href="#" data-workflow-id="b2b0900"
                    >3차-N차 협력기업 신규 약정</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="menu-item">
        <h2 data-menu-name="b2b2">구매기업</h2>
        <div class="menu-list">
          <ul>
            <li>
              <span>외담대/e-안심팩토링</span>
              <ul>
                <li>
                  <a href="#" data-workflow-id="b2b1000">외상매출채권 발행</a>
                </li>
                <li>
                  <a href="#" data-workflow-id="b2b1100"
                    >외상매출채권 조회/관리</a
                  >
                </li>
                <li>
                  <a href="#" data-workflow-id="b2b1200">외상매출채권 선결제</a>
                </li>
              </ul>
            </li>

            <li>
              <span>동반성장론(일반)-상생결제</span>
              <ul>
                <li>
                  <a href="#" data-workflow-id="b2b1300"
                    >외상매출채권 조회/관리</a
                  >
                </li>
              </ul>
            </li>
          </ul>
          <ul>
            <li>
              <span>e-구매론(상생벤더구매론)</span>
              <ul>
                <li>
                  <a class="compact" href="#" data-workflow-id="b2b1400"
                    >구매기업(1차 협력기업) 신규 약정</a
                  >
                </li>
              </ul>
            </li>

            <li>
              <span>e-구매론(역구매론)</span>
              <ul>
                <li>
                  <a href="#" data-workflow-id="b2b1500"
                    >구매기업(협력기업) 신규 약정</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- 외환 / 대출 -->
    <section class="menu-section" data-menu-section="section3">
      <div class="menu-item">
        <h2 data-menu-name="fxd">외환</h2>
        <div class="menu-list">
          <ul>
            <li>
              <span>해외송금</span>
              <ul>
                <li>
                  <a href="#" data-workflow-id="fxd0000">건별송금 신청</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="menu-item">
        <h2 data-menu-name="mnd">대출</h2>
        <div class="menu-list">
          <ul>
            <li>
              <span>이자조회/납입</span>
              <ul>
                <li>
                  <a href="#" data-workflow-id="mnd0000">납입예정 이자조회</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- 뱅킹관리 -->
    <section class="menu-section" data-menu-section="section4">
      <div class="menu-item">
        <h2 data-menu-name="usr">뱅킹관리</h2>
        <div class="menu-list">
          <ul>
            <li>
              <span>내부통제</span>
              <ul>
                <li>
                  <a href="#" data-workflow-id="usr0000"
                    >사용자 이체한도/권한 설정</a
                  >
                </li>
              </ul>
            </li>

            <li>
              <span>결재서비스</span>
              <ul>
                <li>
                  <a href="#" data-workflow-id="usr0100">결재선 등록 및 관리</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul>
            <li>
              <span>기업서류함</span>
              <ul>
                <li>
                  <a href="#" data-workflow-id="usr0200">서류 발급/업로드</a>
                </li>
                <li>
                  <a href="#" data-workflow-id="usr0300"
                    >서류 발급/업로드 내역조회</a
                  >
                </li>
                <li>
                  <a href="#" data-workflow-id="usr0400">서류 사용이력 조회</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- 결재함 / 거래함 -->
    <section class="menu-section" data-menu-section="section5">
      <div class="menu-item">
        <h2 data-menu-name="apx">결재함</h2>
        <div class="menu-list">
          <ul>
            <li>
              <a href="#" data-workflow-id="apx0000">결재할 내역</a>
            </li>
            <li>
              <a href="#" data-workflow-id="apx0100">결재한 내역</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="#" data-workflow-id="apx0200">등록한 내역</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="menu-item">
        <h2 data-menu-name="trx">거래함</h2>
        <div class="menu-list">
          <ul>
            <li>
              <a href="#" data-workflow-id="trx0000">실행할 내역</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="#" data-workflow-id="trx0100">실행한 내역</a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- 인증센터 -->
    <section class="menu-section" data-menu-section="section6">
      <div class="menu-item">
        <h2 data-menu-name="cer">인증센터</h2>
        <div class="menu-list">
          <ul>
            <li>
              <a href="#" data-workflow-id="cer0000">인증서 발급/재발급</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="#" data-workflow-id="cer0100">스마트폰 인증서 복사</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
