<div class="onboarding" data-onboarding>
  <div class="onboarding-step hero" data-onboarding-step>
    <section>
      <h2>
        쉽고 안전한 <span class="primary">하나은행 기업뱅킹</span> 서비스를
        시작해 볼까요?
      </h2>

      <ul>
        <li>
          <button type="button" data-onboarding-target>
            <span class="onboarding-target-num">1</span>
            <div class="text-box">
              <span class="onboarding-target-title">기업뱅킹이란?</span>
              <span class="onboarding-target-text"
                >하나은행 기업뱅킹을 알아볼까요?</span
              >
            </div>
          </button>
        </li>

        <li>
          <button type="button" data-onboarding-target>
            <span class="onboarding-target-num">2</span>
            <div class="text-box">
              <span class="onboarding-target-title">기업뱅킹 가입</span>
              <span class="onboarding-target-text"
                >가입을 위한 서류를 준비해서 영업점에 방문해 주세요</span
              >
            </div>
          </button>
        </li>

        <li>
          <button type="button" data-onboarding-target>
            <span class="onboarding-target-num">3</span>
            <div class="text-box">
              <span class="onboarding-target-title">인증서 발급 및 로그인</span>
              <span class="onboarding-target-text"
                >인증센터 메뉴에서 인증서를 발급 및 등록해 주세요</span
              >
            </div>
          </button>
        </li>

        <li>
          <button type="button" data-onboarding-target>
            <span class="onboarding-target-num">4</span>
            <div class="text-box">
              <span class="onboarding-target-title">사용자별 권한</span>
              <span class="onboarding-target-text">
                사용자 별 이체한도 및 권한 등을 설정해 볼까요?</span
              >
            </div>
          </button>
        </li>

        <li>
          <button type="button" data-onboarding-target>
            <span class="onboarding-target-num">5</span>
            <div class="text-box">
              <span class="onboarding-target-title">결재선 설정</span>
              <span class="onboarding-target-text"
                >결재그룹 및 결재선을 설정해 볼까요?</span
              >
            </div>
          </button>
        </li>

        <li>
          <button type="button" data-onboarding-target>
            <span class="onboarding-target-num">6</span>
            <div class="text-box">
              <span class="onboarding-target-title">기업뱅킹 이용하기</span>
              <span class="onboarding-target-text"
                >편리해진 하나은행의 기업뱅킹 메뉴를 이용해 보세요!</span
              >
            </div>
          </button>
        </li>
      </ul>
    </section>

    <div class="scroll-guide">스크롤 해주세요</div>
  </div>

  <div class="onboarding-step step1" data-onboarding-step>
    <section>
      <h2 class="step-title">
        <span class="step-num">1</span>
        하나은행 기업뱅킹을 알아볼까요?
      </h2>

      <div class="ocp-guide">
        <div class="ocp-header">
          <h3>기업뱅킹이란?</h3>

          <p>
            기업뱅킹은 법인사업자 또는 개인사업자를 위해 제공되는 기업전용
            금융플랫폼입니다.<br />안전한 자금 관리를 위한 기업 맞춤 결재(승인)
            시스템, 효율적인 자금관리 지원등을 통해 다양한 금융업무를 빠르고
            편리하게 이용할 수 있습니다.
          </p>
        </div>

        <div class="ocp-body">
          <div class="step1">
            <h4>종합자금관리 서비스</h4>

            <ul>
              <li>
                대량∙급여이체, 퇴직연금, B2B 외환등<br />기업이 필요한
                <strong>다양한 금융서비스 제공</strong>
              </li>
              <li>
                <strong>통합 자금 관리</strong>를 통한 효율적인<br />업무처리
                가능
              </li>
            </ul>
          </div>

          <div class="step2">
            <h4>안전한 내부통제 시스템</h4>

            <ul>
              <li>
                내부통제 권한을 가진
                <strong>마스터 사용자</strong>가<br />사용자의 권한 설정 가능
              </li>
              <li>
                기업에 적합한 결재라인을 생성하여<br />
                <strong>내부 보안/검증 강화</strong>
              </li>
            </ul>
          </div>

          <div class="step3">
            <h4>본∙지사 통합관리</h4>

            <ul>
              <li>
                본사 아이디로 <strong>지사의 금융거래</strong><br />관리 가능
              </li>
              <li>
                중앙 집중식 관리를 통해 <br />
                <strong>운영 효율성 증대</strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <div class="scroll-guide">스크롤 해주세요</div>
  </div>

  <div class="onboarding-step step2" data-onboarding-step>
    <section>
      <h2 class="step-title">
        <span class="step-num">2</span>
        전자금융서비스 가입은 영업점 방문 또는 비대면으로 가능해요
      </h2>

      <div class="doc-guide">
        <div
          class="doc-header"
          aria-label="법인/개인사업자 모두 영업점 방문없이 하나원큐기업 APP에서 간편하게 계좌 개설 및 전자금융 가입을 해보세요!"
        ></div>

        <div class="doc-body">
          <ul>
            <li>
              <h4>법인사업자</h4>
              <div>
                <ul>
                  <li>사업자등록증 원본</li>
                  <li>법인등기사항전부증명서</li>
                  <li>법인인감</li>
                  <li>대표자 신분증</li>
                </ul>

                <ul>
                  <li>법인인감증명서 원본</li>
                  <li>주주명부<br /><span>(최근 1년 이내 발급분)</span></li>
                  <li>출금계좌 등록할 통장 및<br />통장인감</li>
                </ul>
              </div>

              <ul>
                <li>
                  대리인 방문 시 대리인의 신분증과 법인인감이 날인된 위임장이
                  추가로 필요해요.
                </li>
                <li>
                  법인인감증명서와 법인등기사항전부증명서는 최근 3개월 이내
                  발급된 것으로<br />준비해 주세요.
                </li>
                <li class="primary">
                  필요서류에 대한 자세한 사항은 영업점에 문의 후 방문해 주세요.
                </li>
              </ul>
            </li>

            <li>
              <h4>개인사업자</h4>
              <div>
                <ul>
                  <li>사업자등록증 원본</li>
                  <li>대표자 신분증</li>
                </ul>

                <ul>
                  <li>출금계좌 등록할 통장 및<br />통장인감</li>
                </ul>
              </div>

              <ul>
                <li>개인사업자는 대리인 신청이 불가합니다.</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <div class="scroll-guide">스크롤 해주세요</div>
  </div>

  <div class="onboarding-step step3" data-onboarding-step>
    <section>
      <h2 class="step-title">
        <span class="step-num">3</span>
        인증센터 메뉴에서 인증서를 발급 및 등록해 주세요
      </h2>

      <div class="tab-container">
        <div class="tab-menu" data-tab-list>
          <button type="button" data-tab="tab1_1" class="is-active">
            기업뱅킹 로그인
          </button>
          <button type="button" data-tab="tab1_2">전자세금계산서</button>
          <button type="button" data-tab="tab1_3">범용공동인증서</button>
        </div>

        <div class="tab-panels">
          <div class="tab-panel is-active" data-tab-panel="tab1_1">
            <div class="tab-contents">
              <div class="contents-header">
                <h3>하나은행 기업뱅킹을 이용하고 싶어요</h3>
                <p>
                  은행거래용 공동/금융 인증서를 발급하시면 뱅킹 로그인과
                  금융거래를 할 수 있어요.
                </p>
              </div>

              <div class="contents-body">
                <div class="box">
                  <div class="box-header">
                    <h4>공동인증서 (구 공인인증서)</h4>
                    <p>스마트폰/PC에 저장해서 사용할 수 있어요.</p>
                  </div>

                  <div class="box-body">
                    <div class="cert">
                      <div class="cert-header">
                        <h5>은행/신용카드/보험용</h5>
                        <span>금융결제원(Yessign)</span>
                      </div>

                      <div class="cert-footer">
                        <span>(부가세 포함, 1년)</span>
                        <h6>수수료 4,400원</h6>
                      </div>
                    </div>
                  </div>

                  <div class="box-footer">
                    <p class="info">전자입찰 및 인터넷증권거래 이용 제한</p>
                  </div>
                </div>

                <div class="box">
                  <div class="box-header">
                    <h4>금융인증서</h4>
                    <p>클라우드에 저장해서 사용할 수 있어요.</p>
                  </div>

                  <div class="box-body">
                    <div class="cert hana">
                      <div class="cert-header">
                        <h5>하나은행 전용 기업인증서</h5>
                        <span>하나은행</span>
                      </div>

                      <div class="cert-footer">
                        <span>(3년)</span>
                        <h6>수수료 무료</h6>
                      </div>
                    </div>

                    <div class="cert">
                      <div class="cert-header">
                        <h5>금융공공용</h5>
                        <span>금융결제원(Yessign)</span>
                      </div>

                      <div class="cert-footer">
                        <span>(부가세 포함, 1년)</span>
                        <h6>수수료 4,400원</h6>
                      </div>
                    </div>
                  </div>

                  <div class="box-footer">
                    <p class="info">다른 은행/기관 업무 및 거래 제한</p>
                    <p class="info">전자입찰 및 국세청 민원업무 이용 제한</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-panel" data-tab-panel="tab1_2">
            <div class="tab-contents">
              <div class="contents-header">
                <h3>전자세금계산서 발급을 하고 싶어요</h3>
                <p>
                  전자금융 공동/금융 인증서를 발급하시면 국세청에서
                  전자세금계산서 거래를 할 수 있어요.
                </p>
              </div>

              <div class="contents-body">
                <div class="box">
                  <div class="box-header">
                    <h4>공동인증서 (구 공인인증서)</h4>
                    <p>스마트폰/PC에 저장해서 사용할 수 있어요.</p>
                  </div>

                  <div class="box-body">
                    <div class="cert">
                      <div class="cert-header">
                        <h5>전자세금용</h5>
                        <span>금융결제원(Yessign)</span>
                      </div>

                      <div class="cert-footer">
                        <span>(부가세 포함, 1년)</span>
                        <h6>수수료 4,400원</h6>
                      </div>
                    </div>
                  </div>

                  <div class="box-footer">
                    <p class="info">로그인 및 금융거래 불가</p>
                  </div>
                </div>

                <div class="box">
                  <div class="box-header">
                    <h4>금융인증서</h4>
                    <p>클라우드에 저장해서 사용할 수 있어요.</p>
                  </div>

                  <div class="box-body">
                    <div class="cert">
                      <div class="cert-header">
                        <h5>전자세금용</h5>
                        <span>금융결제원(Yessign)</span>
                      </div>

                      <div class="cert-footer">
                        <span>(부가세포험, 1년)</span>
                        <h6>수수료 4,400원</h6>
                      </div>
                    </div>
                  </div>

                  <div class="box-footer">
                    <p class="info">로그인 및 금융거래 불가</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-panel" data-tab-panel="tab1_3">
            <div class="tab-contents">
              <div class="contents-header">
                <h3>하나은행 기업뱅킹과 전자세금계산서 발급을 하고 싶어요</h3>
                <p>
                  전자거래범용 공동인증서를 발급하시면 모든 거래를 할 수 있어요.
                </p>
              </div>

              <div class="contents-body">
                <div class="box">
                  <div class="box-header">
                    <h4>공동인증서 (구 공인인증서)</h4>
                    <p>스마트폰/PC에 저장해서 사용할 수 있어요.</p>
                  </div>

                  <div class="box-body">
                    <div class="cert">
                      <div class="cert-header">
                        <h5>범용공동인증서</h5>
                        <span>한국전자인증(주)</span>
                      </div>

                      <div class="cert-footer">
                        <span>(부가세 포함, 1년)</span>
                        <h6>수수료 110,000원</h6>
                      </div>
                    </div>

                    <div class="cert">
                      <div class="cert-header">
                        <h5>범용공동인증서</h5>
                        <span>한국정보인증(주)</span>
                      </div>

                      <div class="cert-footer">
                        <span>(부가세 포함, 1년)</span>
                        <h6>수수료 110,000원</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="scroll-guide">스크롤 해주세요</div>
  </div>

  <div class="onboarding-step step4" data-onboarding-step>
    <section>
      <h2 class="step-title">
        <span class="step-num">4</span>
        마스터 사용자로 각 사용자 별 이체한도 및 메뉴/업무 권한 등을 설정해
        볼까요?
      </h2>

      <div class="tab-container">
        <div class="tab-menu" data-tab-list>
          <button type="button" data-tab="tab2_1" class="is-active">
            <span class="circle">1</span>메뉴진입
          </button>
          <button type="button" data-tab="tab2_2">
            <span class="circle">2</span>사용자 선택
          </button>
          <button type="button" data-tab="tab2_3">
            <span class="circle">3</span>사용자 권한 설정
          </button>
        </div>

        <div class="tab-panels">
          <div class="tab-panel is-active" data-tab-panel="tab2_1">
            <div class="tab-contents">
              <div class="contents-header">
                <h3>사용자별 이체한도 및 권한 설정은 어디서 하나요?</h3>
                <p>[뱅킹관리]에서 [사용자 이체한도/권한 설정]을 찾아주세요.</p>
              </div>

              <div class="contents-body">
                <img src="/cont/resource/img/guide/img_gui_0401.png" alt="" />
              </div>
            </div>
          </div>
          <div class="tab-panel" data-tab-panel="tab2_2">
            <div class="tab-contents">
              <div class="contents-header">
                <h3>통제대상자 관리 및 권한은 어떻게 관리하나요?</h3>
                <p>
                  통제대상자의 권한을 설정할 수 있어요. 또한 통제대상자를
                  추가하거나 해제할 수 있어요.
                </p>
              </div>

              <div class="contents-body">
                <img src="/cont/resource/img/guide/img_gui_0402.png" alt="" />
              </div>
            </div>
          </div>
          <div class="tab-panel" data-tab-panel="tab2_3">
            <div class="tab-contents">
              <div class="contents-header">
                <h3>통제대상자 관리 및 권한은 어떻게 관리하나요?</h3>
                <p>
                  마스터가 통제대상자들에 대한 이체한도, 메뉴/업무권한, 계좌권한
                  등을 사용자별로 부여할 수 있어요.
                </p>
              </div>

              <div class="contents-body">
                <img src="/cont/resource/img/guide/img_gui_0403.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="scroll-guide">스크롤 해주세요</div>
  </div>

  <div class="onboarding-step step5" data-onboarding-step>
    <section>
      <h2 class="step-title">
        <span class="step-num">5</span>
        마스터 사용자로 결재그룹 및 결재선을 설정해 볼까요?
      </h2>

      <div class="tab-container">
        <div class="tab-menu" data-tab-list>
          <button type="button" data-tab="tab3_1" class="is-active">
            결재자 한도차감
          </button>
          <button type="button" data-tab="tab3_2">등록자 한도차감</button>
          <button type="button" data-tab="tab3_3">실행자 한도차감</button>
        </div>

        <div class="tab-panels">
          <div class="tab-panel is-active" data-tab-panel="tab3_1">
            <div class="tab-contents other">
              <div class="contents-info">
                <h3>결재자 한도차감 방식이란?</h3>
                <p>
                  거래를 결재하는 사용자의 이체한도를 차감하는 내부통제
                  방식이에요. 엄격한 내부통제를 원할 때 주로 사용해요.
                </p>
              </div>

              <div class="contents-body">
                <ul class="process-list">
                  <li>
                    <div class="process-box">
                      <h4>등록자</h4>
                      <div>OTP+인증서</div>
                    </div>

                    <div class="process-info">
                      <h4>결재등록</h4>
                      <p>70만원 이체거래 등록</p>
                    </div>
                  </li>

                  <li>
                    <div class="process-box">
                      <h4>중간 결재자</h4>
                      <p>이체한도 50만원</p>
                      <div>OTP+인증서 / 결재비밀번호</div>
                    </div>

                    <div class="process-info">
                      <h4>결재진행</h4>
                      <p>
                        중간 결재자 이체한도 초과로<br />
                        최종 결재자로 결재 상신
                      </p>
                    </div>
                  </li>

                  <li>
                    <div class="process-box is-active">
                      <h4>
                        최종 결재자
                        <span>한도차감</span>
                      </h4>
                      <p>이체한도 100만원</p>
                      <div>OTP+인증서</div>
                    </div>

                    <div class="process-info">
                      <h4>결재완료</h4>
                      <p>최종 결재자 결재시 이체완료</p>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="contents-footer">
                결재 완료 시
                <strong>최종 결재자 이체한도 100만원 → 30만원</strong>
              </div>
            </div>
          </div>
          <div class="tab-panel" data-tab-panel="tab3_2">
            <div class="tab-contents other">
              <div class="contents-info">
                <h3>등록자 한도차감 방식이란?</h3>
                <p>
                  거래를 등록하는 사용자의 이체한도를 차감하는 내부통제
                  방식이에요.<br />거래를 등록하는 사용자에게 금액별 전결 권한을
                  부여할 수 있어 유연한 내부통제를 할 수 있어요.
                </p>
              </div>

              <div class="contents-body">
                <ul class="process-list">
                  <li>
                    <div class="process-box">
                      <h4>
                        등록자
                        <span>한도차감</span>
                      </h4>
                      <p>이체한도 100만원<br />전결한도 30만원</p>
                      <div>OTP+인증서</div>
                    </div>

                    <div class="process-info">
                      <h4>결재등록</h4>
                      <p>70만원 이체거래 등록</p>
                    </div>
                  </li>

                  <li>
                    <div class="process-box">
                      <h4>중간 결재자</h4>
                      <p>전결한도 50만원</p>
                      <div>OTP+인증서 / 결재비밀번호</div>
                    </div>

                    <div class="process-info">
                      <h4>결재진행</h4>
                      <p>
                        중간 결재자 전결한도 초과로<br />최종 결재자로 결재상신
                      </p>
                    </div>
                  </li>

                  <li>
                    <div class="process-box is-active">
                      <h4>최종 결재자</h4>
                      <div>OTP+인증서 / 결재비밀번호</div>
                    </div>

                    <div class="process-info">
                      <h4>결재완료</h4>
                      <p>최종 결재자 결재 후 이체완료</p>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="contents-footer">
                결재완료 시
                <strong>등록자 이체한도 100만원 → 30만원</strong>
              </div>
            </div>
          </div>
          <div class="tab-panel" data-tab-panel="tab3_3">
            <div class="tab-contents other">
              <div class="contents-info">
                <h3>실행자 한도차감 방식이란?</h3>
                <p>
                  거래를 실행하는 사용자의 이체 한도를 차감하는 내부통제
                  방식이에요. 결재와 자금집행을 분리하고 싶을때 사용해요.
                </p>
              </div>

              <div class="contents-body">
                <ul class="process-list">
                  <li>
                    <div class="process-box">
                      <h4>등록자</h4>
                      <p>전결한도 30만원</p>
                      <div>OTP+인증서 / 결재비밀번호</div>
                    </div>

                    <div class="process-info">
                      <h4>결재등록</h4>
                      <p>70만원 이체거래 등록</p>
                    </div>
                  </li>

                  <li>
                    <div class="process-box">
                      <h4>중간 결재자</h4>
                      <p>전결한도 50만원</p>
                      <div>OTP+인증서 / 결재비밀번호</div>
                    </div>

                    <div class="process-info">
                      <h4>결재진행</h4>
                      <p>
                        중간 결재자 전결한도 초과로<br />최종 결재자로 결재상신
                      </p>
                    </div>
                  </li>

                  <li>
                    <div class="process-box">
                      <h4>최종 결재자</h4>
                      <div>OTP+인증서 / 결재비밀번호</div>
                    </div>

                    <div class="process-info">
                      <h4>결재 완료</h4>
                      <p>최종 결재자 결재 완료 후<br />실행자 실행대기</p>
                    </div>
                  </li>

                  <li>
                    <div class="process-box is-active">
                      <h4>
                        실행자
                        <span>한도차감</span>
                      </h4>
                      <p>이체한도 100만원</p>
                      <div>OTP+인증서</div>
                    </div>

                    <div class="process-info">
                      <h4>실행완료</h4>
                      <p>실행자 실행완료 시 이체완료</p>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="contents-footer">
                실행 완료 시
                <strong>실행자 이체한도 100만원 → 30만원</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="scroll-guide">스크롤 해주세요</div>
  </div>

  <div class="onboarding-step step6" data-onboarding-step>
    <section>
      <h2 class="step-title">
        <span class="step-num">6</span>
        하나은행의 기업뱅킹 메뉴를 이용해 보세요!
      </h2>

      <ul class="menu-list">
        <li class="myh">
          <h3>My하나</h3>
          <p>관심있는 분야에 대한 위젯을 배치하여 나만의 My하나</p>
        </li>
        <li class="inq">
          <h3>조회</h3>
          <p>
            보유계좌 조회, 증명서 한번에 발급, 거래내역 대량조회 등 서비스 제공
          </p>
        </li>
        <li class="trn">
          <h3>이체</h3>
          <p>즉시/예약이체, 대량/급여이체, 자동이체, 외화이체 등 제공</p>
        </li>
        <li class="b2b">
          <h3>B2B전자결제</h3>
          <p>
            구매/판매기업 별 통합 조회, 전자결제 상품 별 조회 및 실행, 전자어음
            업무 제공
          </p>
        </li>
        <li class="fxd">
          <h3>외환∙수출입</h3>
          <p>
            외화송금, 수입(수출)신용장, HANA FX TRADING 등 외환 전반 서비스 제공
          </p>
        </li>
        <li class="ebp">
          <h3>공과금</h3>
          <p>My공과금 메뉴에서 지로, 공과금, 국고 등 통합 확인</p>
        </li>
        <li class="prd">
          <h3>상품∙가입업무</h3>
          <p>예금/적금/신탁 상품 신규, 대출 이자 일괄조회</p>
        </li>
        <li class="pen">
          <h3>퇴직연금</h3>
          <p>
            확정급여형(DB)/확정기여형(DC)/기업형IRP 제도 별 우리회사 퇴직연금
            관리
          </p>
        </li>
        <li class="col">
          <h3>자금관리</h3>
          <p>
            가상계좌, 등록금 수납, 통합자금관리(CMS), 전 은행계좌관리를 확인
          </p>
        </li>
        <li class="usr">
          <h3>뱅킹관리</h3>
          <p>사용자 별 내부통제 설정, 결재서비스 관리</p>
        </li>
        <li class="cer">
          <h3>인증센터</h3>
          <p>인증서 발급, 재발급, 갱신 등 인증서 관련한 모든 업무</p>
        </li>
        <li class="bot">
          <h3>챗봇</h3>
          <p>뱅킹업무를 쉽고 빠르게 안내해 드리는 비대면 상담 서비스</p>
        </li>
      </ul>
    </section>
  </div>

  <nav class="onboarding-floating-nav" data-onboarding-nav>
    <button type="button" class="onboarding-nav-button" data-onboarding-prev>
      위로
    </button>
    <div class="onboarding-dots" data-onboarding-dots></div>
    <button type="button" class="onboarding-nav-button" data-onboarding-next>
      아래로
    </button>
  </nav>
</div>
